body{
    
}

#banner{
    width: 100%;
}

.main{
    background: #000000;
    padding: 20px;
}

h1{
    color: white;
    text-align: center;
    height: 150px;
    border: 10px solid #ffffff;
    padding: 20px;
    margin: 40px;
}

p{
    text-align: center;
    color: white;
}

em strong{
    color: red;
}

#mission{
    font-size: 20px;
}

.diferentials{
    background:midnightblue;
    color: #ffffff;
    padding: 30px;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.img-diferentials{
    width: 50%;
}